@{
    ViewBag.Title = "Mobiles";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Mobiles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Mobiles</strong>
            </li>
        </ol>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
            @Html.Partial("~/Views/Electronics/_TreeMobile.cshtml")
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                Tags
            </div>
            <div class="ibox-content">
                jakdljfalsdj
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10" data-bind="foreach:showAds">
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                            <span data-bind="if:!isBidingAllowed">
                                <span data-bind="if:price">
                                    <span data-bind="text:price"></span> <small style="font-size:13px" class="text-muted">Rs. <span data-bind="html:isNegotiable"></span></small>
                                </span>
                                <span data-bind="if:!price">Price on contact</span>
                            </span>
                            <span data-bind="if:isBidingAllowed">
                                <span data-bind="if:price">
                                    <span data-bind="if:highestBid() == '-Infinity'">
                                        <span data-bind="text:price"></span> <small style="font-size:13px" class="text-muted ">Rs. (Initial Bid) </small>
                                    </span>
                                    <span data-bind="ifnot:highestBid() == '-Infinity'">
                                        <span data-bind="text:highestBid"></span> <small style="font-size:13px" class="text-muted ">Rs. (current Bid) </small>
                                    </span>
                                </span>
                                <span data-bind="if:!price">
                                    <span data-bind="if:highestBid() == '-Infinity'">
                                        No Bit yet
                                    </span>
                                    <span data-bind="ifnot:highestBid() == '-Infinity'">
                                        <span data-bind="text:highestBid"></span> <small style="font-size:13px" class="text-muted ">Rs. (current Bid) </small>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <small class="text-muted">Mobile</small>
                        <a href="#" class="product-name" data-bind="text:title,attr:{href:link}"> Product</a>



                        <div class="small m-t-xs" data-bind="foreach:showTags">
                            <span class="btn btn-xs btn-white" data-bind="text:name"></span>
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="col-md-9 col-lg-6" id="ads">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search</h5>
                </div>
                <div class="ibox-content">
                    <div data-bind="foreach:showAds">

                        <div data-bind="text:title"></div>
                        <span data-bind="if:!isBidingAllowed">
                            <span data-bind="if:price">
                                <span data-bind="text:price"></span> <small style="font-size:13px" class="text-muted">Rs. <span data-bind="html:isNegotiable"></span></small>
                            </span>
                            <span data-bind="if:!price">Price on contact</span>
                        </span>
                        <span data-bind="if:isBidingAllowed">
                            <span data-bind="if:price">
                                <span data-bind="if:highestBid() == '-Infinity'">
                                    <span data-bind="text:price"></span> <small style="font-size:13px" class="text-muted ">Rs. (Initial Bid) </small>
                                </span>
                                <span data-bind="ifnot:highestBid() == '-Infinity'">
                                    <span data-bind="text:highestBid"></span> <small style="font-size:13px" class="text-muted ">Rs. (current Bid) </small>
                                </span>
                            </span>
                            <span data-bind="if:!price">
                                <span data-bind="if:highestBid() == '-Infinity'">
                                    No Bit yet
                                </span>
                                <span data-bind="ifnot:highestBid() == '-Infinity'">
                                    <span data-bind="text:highestBid"></span> <small style="font-size:13px" class="text-muted ">Rs. (current Bid) </small>
                                </span>
                            </span>
                        </span>
                        <span data-bind="foreach:showTags">
                            <span class="btn btn-xs btn-white"  data-bind="text:name"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="col-lg-3"></div>
</div>
</div>

@section Styles {
    @Styles.Render("~/plugins/slickStyles")
    @Styles.Render("~/plugins/slickThemeStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/jsTree")
}

@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/autosize")
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/slick")
    @Scripts.Render("~/plugins/jsTree")
    <script src="~/Scripts/app/MobileTree.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/app/chat.js"></script>
    <script src="~/Scripts/UserLogin.js"></script>
    <script>
        function Tag(data) {
            var self = this;
            data = data || {};
            self.id = data.id;
            self.name = data.name;
        }
        function Bid(data) {
            var self = this;
            data = data || {};
            self.price = data.price;
        }
        function ad(data) {
            var self = this;
            data = data || {};
            self.title = data.title;
            self.description = ko.observable(data.description);
            self.postedByName = data.postedByName;
            self.postedById = data.postedById;
            self.id = data.id;
            self.time = getTimeAgo(data.time);
            self.loginUserId = data.islogin || "";
            self.showMobileAd = ko.observableArray();
            self.isReported = ko.observable(data.isReported);
            self.reportedCount = ko.observable(data.reportedCount);
            self.showImages = ko.observable();
            self.views = data.views;
            self.price = data.price || "";
            self.link = "/MobilesTablets/Details/" + data.id;

            //biding
            self.highestBid = ko.observable();
            self.showBidings = ko.observableArray();
            self.isBidingAllowed = false;
            self.placeBid = ko.observable(false);
            self.bidAmount = ko.observable();

            self.showTags = ko.observableArray();

            self.sellerProfile = function () {
                window.location.href = "/User/Index/" + self.postedById;
            }

            if (data.isNegotiable == "b") {
                self.isBidingAllowed = true;
            } else if (data.isNegotiable == "y") {
                self.isNegotiable = 'Negotiable';
            } else if (data.isNegotiable == "n") {
                self.isNegotiable = '<strike>Negotiable</strike>';
            }
            if (self.price == "") {
                self.isNegotiable = "";
            }
            if (data.bid != null) {
                var biding = $.map(data.bid, function (item) { return new Bid(item); });
                self.highestBid(Math.max.apply(Math, data.bid.map(function (o) { return o.price; })));
                //self.showBidings(biding);
            }
            if (data.adTags != null) {
                var tags = $.map(data.adTags, function (item) { return new Tag(item); });
                self.showTags(tags);
            }

            //if (data.image) {
            //    var img = $.map(data.image, function (item) { return new adImages(item); });
            //    self.showImages(img);
            //}
            self.report = function (id, loginUserId) {
                if (loginUserId) {
                    $.ajax({
                        url: '/api/Electronic/reportAd?id=' + id,
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'POST',
                        success: function (data) {
                            self.isReported(true);
                            self.reportedCount(data);
                        },
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            toastr.info(err.Message);
                        }
                    })
                } else {
                    toastr.info("You must be login to report this ad", "Na na!");
                }
            }
        }

        function viewModel() {
            TreeViewModel();
            ChatViewModel();
            var self = this;

            return self;
        }
        //tree

        function getTimeAgo(varDate) {
            if (varDate) {
                return $.timeago(varDate.toString().slice(-1) == 'Z' ? varDate : varDate + 'Z');
            }
            else {
                return '';
            }
        }
        ko.bindingHandlers.jqAutoresize = {
            init: function (element, valueAccessor, aBA, vm) {
                if (!$(element).hasClass('msgTextArea')) {
                    $(element).css('height', '1em');
                }
                $(element).autosize();
            }
        };

        $(function () {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                preventDuplicates: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
            $('.product-images').slick({
                dots: true
            });
            // ko.applyBindings(new viewModel, (document.getElementById('ads')));

            // ko.applyBindings(new treeModel, document.getElementById('navigation'));
            ko.applyBindings(new viewModel);
            $.connection.hub.start().done(function () {

            });
        });

    </script>
}










